
pyside6>=6.5.0
requests>=2.31.0
pillow>=9.5.0
matplotlib>=3.7.1
pyqtgraph>=0.13.1
sqlalchemy>=2.0.0
python-dotenv>=1.0.0
opencv-python>=4.8.0
ffmpeg-python>=0.2.0
pandas>=2.0.0
numpy>=1.24.0
moviepy>=1.0.3
qtawesome>=1.2.3
